* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 35px;
  font-family: 'Nerko One', cursive;
}

.delete {
  cursor: pointer;
  color: red;
}

body {
  margin: 20px 40px;
}

ul#serie-tv {
  list-style: circle;
}
